In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
param_grid={'criterion':['mse','mae'],'max_features':['auto','sqrt','log2'],'n_estimators':[10,100]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independent,independent)

C:\Users\Windows\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   12.7s
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:   34.6s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [12]:
re=grid.cv_results_

print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'mae', 'max_features': 'auto', 'n_estimators': 100}:

In [13]:
table=pd.DataFrame.from_dict(re)

In [14]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.081764,0.014649,0.048619,0.039792,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.992328,0.991868,0.991329,0.991842,0.000408,4
1,0.807219,0.005653,0.040805,0.001786,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.994080,0.993236,0.991898,0.993071,0.000898,2
2,0.077647,0.023814,0.021433,0.006106,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.982182,0.980310,0.974640,0.979044,0.003206,12
3,0.692964,0.077742,0.140262,0.010389,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.988529,0.987563,0.985920,0.987337,0.001077,6
4,0.112055,0.041647,0.068193,0.011813,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.982765,0.981285,0.974766,0.979605,0.003475,10
5,0.785520,0.063644,0.113206,0.057594,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.987628,0.987910,0.986122,0.987220,0.000785,7
6,1.509020,0.037346,0.015346,0.003096,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.992714,0.992203,0.991100,0.992006,0.000674,3
7,14.401062,0.102210,0.051953,0.014597,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.994268,0.993750,0.992475,0.993498,0.000754,1
8,0.744976,0.012065,0.014495,0.002310,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.982882,0.978659,0.976969,0.979503,0.002487,11
9,7.644199,0.084696,0.047515,0.014542,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.987584,0.986915,0.986301,0.986934,0.000524,8
10,0.789966,0.016712,0.017262,0.004400,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.982529,0.976560,0.979787,0.979625,0.002440,9
11,7.035139,0.469479,0.027852,0.003008,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.987919,0.987268,0.987391,0.987526,0.000282,5

In [15]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
childern_input=float(input("Childern:"))
sex_male_input=float(input("Sex Male 0 or 1 :"))
smoker_yes_input=float(input("Smoker Yes 0 or 1 :"))

Age:35
BMI:24
Childern:24
Sex Male 0 or 1 :1
Smoker Yes 0 or 1 :1

In [16]:
Future_Prediction=grid.predict([[age_input,bmi_input,childern_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[[35.25    24.17015  2.18     0.86     0.46   ]]